LICENSE_bak
*.aep
node_modules/
/public/UI.bak
/public/oldindex.html
/public/01game.html
/public/cricket.html
/public/UI.html
/public/scoreHistory.txt
/public/audio/PlayerNums.mp3
/public/_gfx/bull.png
/public/_gfx/dartboardAnims.aep
/public/_gfx/*.xmp
/public/_gfx/*.ai
/public/_gfx/dartboardAnims_AME/
/_project
public/scoreHistory.json
public/scoreHistory.txt
public/UI.bak
public/UI.html
